{% extends 'shared/base.html' %}
{% block title %}
<title>EDGE AI</title>
{% endblock %}

{% block content %}
    <div class="container">
        <p>EDGE is an AI-powered HR technology provider focused on helping organizations solve their toughest talent acquisition & transformation challenges.

            At EDGE, we are driven by our vision to build a collaborative ecosystem that provides employers, employees, & job seekers real value, impacting the bottom line.
            
            EDGE uses its sophisticated Smart AI EDGE Graph™- an astute knowledge graph created by analysing over 25 million Job Descriptions & 20 million Profiles.</p>
            

    </div>
{% endblock %}